body {
  background-color: white;
  font-family: "Poiret One", sans-serif;
}

a {
  text-decoration: none;
  color: #3e516c;
}

a:hover {
  color: #ADD8D0;
}

p, .list {
  margin: 5px;
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 28px;
  color: #51878c;
}

.list {
  padding-top: 10px;
  padding-left: 20px;
  list-style: disc;
}

.list>li {
  padding-bottom: 10px;
}

.primary-nav {
  width: 100%;
}

.header{
  margin: 0;
  padding: 30px;
  font-size: 50px;
  color: #51878c;
  line-height: 70px;
  text-align: center;
}

nav {
  background-color: #51878c;
  padding: 10px;
  text-align: center;
  font-variant: small-caps;
  font-size: 26px;
}

nav li {
  display: inline;
  list-style-type: none;
}

nav li a {
  color: white;
  margin: 10px 20px 10px;
}

.container {
  width: 100%;
  height: calc(100vh - 180px);
  overflow-y: auto;
  text-align: center;
}

.container>.column {
  display: inline-block;
  max-width: 600px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
}

.footer {
  padding: 10px 50px;
  background-color: #51878c;
  text-align: right;
  font-size: 25px;
}

.footer li{
  padding-left: 30px;
  display: inline;
  list-style-type: none;
}

.footer li a{
  color: white;
}

.post {
  margin: 10px auto;
  padding: 10px;
  width: 600px;
  color: #51878c;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
}

.post-title {
  font-size: 32px;
  font-weight: bold;
}

.post-date {
  font-size: 18px;
  text-align: left;
}

.more {
  margin: 10px 0;
  font-size: 20px;
}

.page {
  margin: 10px auto;
  padding: 10px;
  width: 600px;
  color: #51878c;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
}

.date {
  margin: 15px auto;
  text-align: center;
}

.about {
  margin-top: 10px;
}

img {
  margin: 15px auto;
  width: 80%;
}

.kimiko {
  width: 25%;
  height: 25%;
  border-radius: 10%;
}
