body {
  background-color: white;
}

a {
  text-decoration: none;
  color: #3e516c;
}

a:hover {
  color: #ADD8D0;
}

p, .list {
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  color: #51878c;
}

.list {
  padding-top: 10px;
  padding-left: 20px;
  list-style: disc;
}

.list>li {
  padding-bottom: 10px;
}

.primary-nav {
  width: 100%;
}

.header{
  margin: 0;
  padding: 30px;

  font-family: "Poiret One", cursive;
  font-size: 60px;
  color: #51878c;
  line-height: 70px;
  text-align: center;
}

.container {
  width: 100%;
  height: calc(100vh - 180px);
  overflow-y: auto;
  text-align: center;
}

.container>.column {
  display: inline-block;
  max-width: 600px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
}

nav {
  background-color: #51878c;
  padding: 10px;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-variant: small-caps;
  font-size: 30px;
}

nav li {
  display: inline;
  list-style-type: none;
}

nav li a {
  color: white;
  margin: 10px 20px 10px;
  /*transition-property: color;
  transition-duration: 0.7s;*/
}

.post {
  margin: auto;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  font-family: "Poiret One", cursive;
  color: #51878c;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
}

.post-title {
  font-size: 35px;
  font-weight: bold;
}

.post-date {
  font-family: "Poiret One", cursive;
  font-size: 20px;
  text-align: left;
}

.more {
  margin: 10px 0;
  font-size: 20px;
}

.date {
  margin: 15px auto;
  text-align: center;
  font-family: "Poiret One", cursive;
}

.about {
  margin-top: 30px;
}

.pry {
  height: 400px;
}

img {
  margin: 15px auto;
  width: 100%;
}
